name: publish

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  build_sdist:
    name: build sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0
      - name: build
        run: pipx run build --sdist
      - name: upload dist packages
        uses: actions/upload-artifact@v4
        with:
          name: pkg-sdist
          path: dist/*.tar.gz

  build_wheels:
    name: build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: build wheels
        uses: pypa/cibuildwheel@v2.23.3
        env:
          # On an Linux Intel runner with qemu installed, build Intel and ARM wheels
          CIBW_ARCHS: native
          # Only build cpython and manylinux
          CIBW_BUILD: cp*-manylinux_* cp*-macosx_*
          # Skip CPython 3.{6..8}
          CIBW_SKIP: cp36-* cp37-* cp38-*
      - uses: actions/upload-artifact@v4
        with:
          name: pkg-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: wheelhouse/*.whl

  publish-to-pypi:
    name: publish to pypi
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/fcio
    permissions:
      id-token: write
    steps:
      - name: download dist packages
        uses: actions/download-artifact@v4
        with:
          pattern: pkg-*
          path: dist
          merge-multiple: true
      - name: publish packages to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  publish-to-testpypi:
    name: publish to test.pypi
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/p/fcio
    permissions:
      id-token: write
    steps:
      - name: download dist packages
        uses: actions/download-artifact@v4
        with:
          pattern: pkg-*
          path: dist/
          merge-multiple: true
      - name: publish packages to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

  github-release:
    name: sign the dist packages and publish to github releases
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: download dist packages
        uses: actions/download-artifact@v4
        with:
          pattern: pkg-*
          path: dist
          merge-multiple: true
      - name: sign the dists with sigstore
        uses: sigstore/gh-action-sigstore-python@v3.0.0
        with:
          inputs: >-
            ./dist/*.tar.gz
            ./dist/*.whl
      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: >-
          gh release create
          '${{ github.ref_name }}'
          --repo '${{ github.repository }}'
          --notes ""
      - name: upload artifact signatures to GitHub Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        # Upload to GitHub Release using the `gh` CLI.
        # `dist/` contains the built packages, and the
        # sigstore-produced signatures and certificates.
        run: >-
          gh release upload
          '${{ github.ref_name }}' dist/**
          --repo '${{ github.repository }}'
